

.debug_panel {
    color:black;
    background-color:#c0d7ff;
    border:1px solid grey;
    border-radius: 4px;
    padding:10px;
    margin:5px;
}

body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

